@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');

@mixin middle {
  @media (max-width: 1366px) {
    @content;
    }   
}

@mixin tablet {
  @media (max-width: 1170px) {
    @content;
    }   
}

@mixin phone {
  @media (max-width: 700px) {
    @content;
    }   
}

body {
  margin: 0;
  position: relative;
  font-family: 'PT Sans Caption', sans-serif;
  color: #504A62;
  height: 100vh;
  overflow: hidden;
  
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

li, ul, p{
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #504A62;
}

* {
  box-sizing: border-box;
} 

.container{
  position: relative;
  overflow: hidden;
  max-width: 1980px;
  margin: 0 auto;
  &::before{
    content: '';
    position: absolute;
    left: -49%;
    bottom: 0;
    width: 90%;
    height: 99%;
    background: url('../img/bg_l.png') top no-repeat;
    background-size: 70%;
    @include middle{
      left: -50%;
      width: 89%;
      height: 97%;
    }
    @include tablet{
      left: -54%;
      width: 100%;
      height: 100%;
      top: 4%;
    }
    @include phone{
      display: none;
    }
  }
 &::after{
  content: '';
  position: absolute;
  left: 56%;
  bottom: 6%;
  width: 95%;
  height: 100%;
  background: url('../img/bg_r.png') top no-repeat;
  background-size: 70%;
  @include middle{
    left: 55%;
    bottom: 3%;
    width: 91%;
    height: 100%;
  }
  @include tablet{
    left: 50%;
    bottom: 2%;
    width: 100%;
    height: 99%;
  }
  @include phone{
    display: none;
  }
 } 
}

.header{
  margin-top: 36px;
  @include phone{
    margin-top: 108px;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 195px;
    @include middle{
      margin: 0 154px 0 223px;
    }
    @include tablet{
      margin: 0 56px 0 125px;
    }
    @include phone{
      justify-content: center;
      align-items: center;
      margin: 0;
    }
  }
  &__left{
    display: flex;
  }
  &__logo{
    margin-right: 8px;
    @include middle{
      max-width: 34px;
    }
    @include phone{
      max-width: 52px;
      height: 52px;
    }
  }
  &__title{
    font-size: 40px;
    letter-spacing: -1px;
    @include middle{
      font-size: 32px;
    }
    @include phone{
      font-size: 44px;
      color: black;
    }
  }
}

.nav{
  display: flex;
  @include phone{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -999px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    height: 100vh;
    background-color: white;
    transition: all .8s;
    &.active{
      top: 0;
      transition: all .8s;
    }
  }
  &__item{
    font-size: 18px;
    margin-right: 24px;
    z-index: 999;
    &:last-child{
      margin: 0;
    }
    &:hover{
      color: #FF9100;
    }
    @include middle{
      font-size: 14px;
    }
    @include phone{
      margin: 12px 0;
      color: black;
      font-size: 30px;
    }
  }
}



.description{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  line-height: 52px;
  margin-top: 107px;
  @include middle{
    font-size: 32px;
    line-height: 41px;
    margin-top: 83px;
  }
  @include phone{
    font-size: 24px;
    line-height: 31px;
    margin-top: 25px;
    color: black;
  }
  &__text{
    z-index: 99;
    width: 45%;
    @include middle{
      width: 55%;
    }
    @include tablet{
      width: 65%;
    }
    @include phone{
      width: 75%;
    }
  }
}

.download{
  display: flex;
  justify-content: center;
  margin-top: 56px;
  @include middle{
    margin-top: 40px;
  }
  @include phone{
    margin-top: 66px;
  }
  &__link{
    margin-right: 35px;
    z-index: 99;
    @include middle{
      margin-right: 25px;
    }
    @include phone{
      margin-right: 9px;
    }
    &:last-child{
      margin: 0;
    }
  }
  &__img{
    max-width: 195px;
    @include middle{
      max-width: 134px;
    }
    @include phone{
      max-width: 108px;
    }
  }
}

.phone{
  display: flex;
  justify-content: center;
  margin-top: 92px;
  @include middle{
    margin-top: 59px;
  }
  @include phone{
    margin-top: 10px;
  }
  &__img{
    z-index: 99;
    @include middle{
      width: 375px;
    }
    @include phone{
      width: 320px;
    }
  }
}

.menu{
  position: absolute;
  top: 54px;
  right: 38px;
  z-index: 999;
  &__link{
    display: none;
    position: relative;
    width: 25px;
    height: 3px;
    background-color: #FF9100;
    transition: all .5s;
    &.active{
      background-color: transparent;
      &::before{
        transform: rotate(45deg);
        top: 0;
        bottom: 3px;
        transition: all .5s;
      }
      &::after{
        transform: rotate(135deg);
        bottom: 3px;
        top: 0;
        transition: all .5s;
      }
    }
    @include phone{
      display: flex;
    }
    &::before{
      content: '';
      position: absolute;
      width: 25px;
      height: 3px;
      background-color: #FF9100;
      top: 6px;
      transition: all .5s;
    }
    &::after{
      content: '';
      position: absolute;
      width: 25px;
      height: 3px;
      background-color: #FF9100;
      bottom: 6px;
      transition: all .5s;
    }
  }
}